.mainGridDiv {
  width: 40%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.mainGridDiv div {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
